.highlight {
  &::before {
    content: "";
    min-width: 10px;
    height: 100%;
    background-color:  var(--v-primary-base);
    padding: 2px 5px;
    margin-right: 10px;
  }
}

.required {
  label.v-label {
    &:after {
      content: "*" !important;
      color: red !important;
      margin-left: 3px;
    }
  }
}